@tailwind base;
@tailwind components;
@tailwind utilities;

/* Image Settings */
.bg {
  background: url(../img/community_chaos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Pattern Settings */
/* .bg {
  background: url(../img/x.png);
  background-size: auto;
  background-repeat: repeat;
} */
